body{
  background-color: #f1f1f1;

}

button{
  background-color: hsl(71, 73%, 54%);
  color: white;
}

.component{
  width: 628px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  font-family: 'Outfit', sans-serif;
}

.component-bottom{
  display: flex;
  flex-direction: row;
}

.component-bottom-left{
  background-color: hsl(179, 62%, 43%);
  color: white;
  width: 314px;
  height: 235px;

}

.component-bottom-right{
  background-color: #6ad7d7;
  color: white;
  width: 314px;
  height: 235px;
}

.component-top-description{
  color: #cbcccc;
  padding-left: 38px;
}

.component-top-sub{
  color: hsl(71, 73%, 54%);
  padding-left: 38px;
  padding-bottom: 15px;
}

.component-top{
  background-color: white;
  width: 628px;
  height: 213px;
  font-weight: 700;
}

.component-top-title{
  color: hsl(179, 62%, 43%);
  padding: 38px 38px 5px 38px;
}
